In [7]:
#q1
def my_function(fname,lname):
    print(fname,lname)
my_function('abc','def')

abc def

In [9]:
#q2
def abc(*num):
    print(num)
abc(1,2,3)

(1, 2, 3)

In [10]:
#q3
def calculation(a,b):
    return(a+b,a-b,a*b,a/b)
res=calculation(40,10)
print(res)

(50, 30, 400, 4.0)

In [33]:
#q4
def function(name,salary=10000):
    print('Name : ',name,' ','Salary : ',salary)
function('ben',12000)
function('jessa')

Name :  ben   Salary :  12000
Name :  jessa   Salary :  10000

In [6]:
#q5
def function(a,b):
    def inner_fuction(a,b):
        return a+b
    c=inner_fuction(a,b)
    return c+10
print(function(10,20))

40

In [9]:
#q6
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num=int(input('enter the value : ')) 
print("The factorial of", num, "is", factorial(num))

enter the value : 5
The factorial of 5 is 120

In [3]:
#Q7
def display_student(name, age):
    print(name, age)
new_name=display_student
new_name("Emma",26)

Emma 26

In [7]:
#q8
list1=[]
for i in range(4,30,2):
    list1.append(i)
print(list1)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [5]:
#q9
x=[4, 6, 8, 24, 12, 2]
x.sort()
print(x[len(x)-1])

24