# Constructor

It is a special type of function with which we can invoke
or assign values to the attributes

as soon as we create our object, all the attributes inside our class would 
initialise . if we have our constructor in our class.

In [5]:
# By default we can assign our constructor by __init__

In [1]:
class Employee:
    def __init__ (self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def employee_details(self):
        print('Name of the employee is ', self.name)
        print('Age of the employee is ', self.age)
        print('Salary of the employee is ', self.salary)
        print('Gender of the employee is ', self.gender)

In [2]:
e1=Employee('yash',12,150,'Male')

In [3]:
e1.employee_details()

Name of the employee is  yash
Age of the employee is  12
Salary of the employee is  150
Gender of the employee is  Male

In [4]:
print('2'+'2')
print(2+2)

22
4

In [8]:
class Employee2:
    def __init__ (self,name,age,salery,gender):
        self.name=name
        self.age=age
        self.salery=salery
        self.gender=gender
    def employee_details(self):
        print('name of the employee is ',self.name)
        print('Age of the emoloyee ',self.age)
        print('salery of the emoloyee ',self.salery)
        print('Gender of the emoloyee ',self.gender)

In [9]:
e2=Employee2('shivam',25,25000,'Male')

In [10]:
e2.employee_details()

name of the employee is  shivam
Age of the emoloyee  25
salery of the emoloyee  25000
Gender of the emoloyee  Male

In [11]:
class Employee3:
    def __init__(self,name,age,salary, gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def employee_details(self):
        print("Name of the employee is", self.name)
        print("Age of the employee is", self.age)
        print("Salary of the employee is", self.salary)
        print("Gender of the employee is", self.gender)

In [12]:
e3=Employee3('Akash',25,25000,'Male')

In [13]:
e3.employee_details()

Name of the employee is Akash
Age of the employee is 25
Salary of the employee is 25000
Gender of the employee is Male

In [23]:
class student :
    def __init__(self, name, standard_class,age,gender):
        self.name = name
        self.standard_class = standard_class
        self.age = age
        self.gender = gender
    def student_details(self):
        print('name of the student' , self.name)
        print('standard of the student', self.standard_class )
        if self.age>15:
            print('age of the student' , self.age)
        else:
            print('you are to young' , self.age)
        print('gender of the student' , self.gender)

In [24]:
s1 = student('vishal',6, 12,'male')

In [25]:
s1.student_details()

name of the student vishal
standard of the student 6
you are to young 12
gender of the student male

# Inheritance

With inheritance 1 class can drive the properties of other class.

In [26]:
# Base class
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
    def show_details(self):
        print('It is a Vehicle')
        print('Mileage is ', self.mileage)
        print('Cost is ', self.cost)

In [27]:
v1=Vehicle(50,5000)

In [28]:
v1.show_details()

It is a Vehicle
Mileage is  50
Cost is  5000

In [30]:
# sub class

class Car(Vehicle):
    def show_car(self):
        print('it is a car class')

In [31]:
c1=Car(40,4000)

In [32]:
c1.show_details()

It is a Vehicle
Mileage is  40
Cost is  4000

In [33]:
c1.show_car()

it is a car class

In [34]:
# over riding init method

In [41]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,HP):
        super().__init__(mileage,cost)
        self.tyres=tyres
        self.HP=HP
    def show_car_detail(self):
        print('it is a new car class')
        print('Mileage is ', self.mileage)
        print('Cost is ', self.cost)
        print('No. of Tyres ', self.tyres)
        print('Value of HP',self.HP)

In [42]:
c1=Car(20,1200,4,300)

In [37]:
c1.show_details()

It is a Vehicle
Mileage is  20
Cost is  1200

In [38]:
c1.show_car()

AttributeError: 'Car' object has no attribute 'show_car'

In [43]:
c1.show_car_detail()

it is a new car class
No. of Tyres  4
Value of HP 300