Q1) WAP to acept a list from the user and print the alternate element of list.

Q2) WAP to remove the element '3' from the given list [1,2,3,4,5,6].

Q3) WAP to insert the element 'Python' on index 2 in the given list ['Java','Php','.Net','Angular'].

Q4) WAP to add element in the list using for loop.

Q5) WAP to perform slicing with given tuple
('Python',1,2,3,'Java','A','B') with following slicing point:
    a) print alternate value of tuple.
    b) Print the last value of tuple.
    c) print the value between index 1 to 5.

Q6) WAP to count element in given tuple (1,2,3,4,5,6,7,8,9).

Q7) WAP to convert tuple into list.

Q8) WAP to convert 2 given list into dictionary.
list1[1,2,3,4,5]
list2['A','B','C','D','E'].

Q9) WAP to print the keys from the given Dictionary
{1:'Apple',2:'Banana',3:'Mango'} and print keys into list.

Q10)WAP to print the Values from the given Dictionary
{1:'Apple',2:'Banana',3:'Mango'} and print Values into list.

# Types of Inheritance

1) Single
2) Multiple
3) Multilevel
4) Hybrid

In [1]:
# Multiple (Parent 1 and parent 2 ki property can accesed by child class)

# First parent class
class parent1():
    def assign_string1(self,str1):
        self.str1=str1
    def show_str1(self):
        return self.str1

In [2]:
# Second parent class
class parent2():
    def assign_string2(self,str2):
        self.str2=str2
    def show_str2(self):
        return self.str2

In [3]:
# Child class
class derived(parent1,parent2):
    def assign_string3(self,str3):
        self.str3 = str3
    def show_string3(self):
        return self.str3

In [4]:
d1=derived()

In [5]:
d1.assign_string1('one')
d1.assign_string2('two')
d1.assign_string3('three')

In [8]:
# invoking 

d1.show_str1()

'one'

In [9]:
d1.show_str2()

'two'

In [10]:
d1.show_string3()

'three'

# Multilevel

# parent ---> child ----> Grandchild

In [21]:
# Parent class
class parent():
    def assign_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [22]:
# Child class
class child(parent):
    def assign_age(self,age):
        self.age = age
    def show_age(self):
        return self.age

In [23]:
# Grand child class

class grandchild(child):
    def assign_gender(self,gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [24]:
g1 = grandchild()

In [25]:
g1.assign_name('Python')
g1.assign_age(37)
g1.assign_gender('Male')

In [26]:
# invoke

g1.show_name()

'Python'

In [17]:
g1.show_age()

37

In [18]:
g1.show_gender()

'Male'